.cj-logo{
    height:62px;
}
.cj-logo img{
    height:62px;
    margin: 20px 0px 20px 40px;
    float: left;
}
.cj-logo  div{
    float: left;
    padding:0 15px;
    border-left: 2px solid  rgba(249,112,15, 1);
    line-height: 62px;
    font-size: 28px;
    color:#333;
    margin-left: 15px;
    margin-top: 20px;
}
.cj-login-main{
    width:100%;
    /*background-image: url(../static/images/index_banner1.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    background-position: center;
}

.c-login {
    padding: 40px 0;
}
.c-login-area{
    background: #fff;
    min-height: 320px;
    border-radius: 3px;
    box-shadow: 0 0 3px 0 #fff;
}
.c-login-area h4{
    margin: 0;
    line-height: 3;
    text-indent: 1.5em;
    border-bottom: 1px solid #eee;
    color:#333;
}
.form-area{
    padding: 25px 11px 20px 19px;
}
.form-input{
    margin-bottom: 20px;
}
.form-input.teshu{
    margin-bottom: 10px;
}
.form-input.teshu2{
    margin-right: 0px;
    margin-left: 0px;
}
.form-input.teshu2 >div{
    padding:0;
}
.form-input input{
    display: block;
    padding: 8px 10px 7px;
    height: 34px;
    border: 1px solid #CCC;
    font-family: Arial,simsun;
    color: #333;
    font-size: 14px;
    line-height: 19px;
    outline: none;
    width:80%;
    margin:0 auto;
    transition: all .4s ease;
}
.form-input input:hover,
.form-input input:focus{
    border-color: rgba(249,112,15, .6);
    box-shadow: 0 0 2px #f9700f;
}
.form-button{
    display: block;
    height: 34px;
    background:  #f9700f;
    font: 500 14px/34px "Microsoft Yahei";
    color: #fff;
    text-align: center;
    border: 0 none;
    outline: 0;
    word-spacing: 3px;
    cursor: pointer;
    width: 80%;
    margin:0 auto;
    border-radius: 2px;
    border:1px solid #f9700f;
}
.form-button:hover{
    filter: brightness(1.1);
}
.form-button.register{
    background: #fff;
    color: #f9700f;
}
#register{
    display: none;
}
#getCode{
    padding:0;
    margin:0;
    width:100%;
}
#verifycode{
    margin: 0;
    width:100%;
}