.pagination>li>a, .pagination>li>span{
    color: #f9700f !important;
}
.pagination>li.active>a, .pagination>li.active>span {
    color:#fff !important;
    background: #f9700f !important;
    border-color:  #f9700f !important;
}
body{
background-color:#f8f8f8;
}
.f12{
    font-size: 12px;
}
.f14{
    font-size:14px;
}
.f16{
    font-size:16px;
}
.f18{
    font-size:18px;
}
.f20{
    font-size:20px;
}
.bold{
    font-weight: 550;
}
.none{
    display: none;
}
.pointer{
    cursor: pointer;
}
.tc{
    text-align: center;
}
.vtabs{
    padding:0;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    border:1px solid #eee;
}
.vtabs li{
    cursor: pointer;
    line-height:44px;
    height: 44px;
    color:#333;
    padding-left: 40px;
    font-size: 16px;
    background-color: #fff;
}

.vtab-content ul{
    counter-reset:section;
}

.vtab-content  ul li{
    border-bottom: 1px dotted #ccc;
    line-height: 30px;
    height: 30px;
    overflow:hidden;
    list-style: none;
    padding-left: 14px;
    color: #f9700f;
    text-decoration:none;
    background: url(../images/jt.gif) no-repeat left center;
}

.vtab-content  li i{display:inline-block;font-style:initial;padding:0 6px;margin-right:10px;height:18px;line-height:18px;background:#717070;color:#fff;border-radius:3px;font-size:9px}
.vtab-content  ul li span{
    float: right;
    font-size: 13px;
    color: #666;
}

.vtabs li+li{
    transition: all .2s ease;
    border-top:1px solid #eee;
}
.vtabs li+li:hover,
.vtabs li+li.on
{
    background-color: #EEEEEF;
    padding-left: 45px;
    border-color:  #EEEEEF;
    color:#f9700f;
}
.vtabs li:first-child{
    padding-left: 25px;
    background-color:#f9700f;
    color:#fff;
}
.vtab-content h2{
    color:#333;
}
.vtab-contents{
    padding: 0 20px 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 30px;
}
.vtab-title {
    line-height: 1;
    padding: 14px 0;
    border-bottom: 1px solid #eee;
    color:#000;
    position: relative;
}
.vtab-title::after{
    content: '';
    position: absolute;
    left:0;
    bottom:-1px;
    width:80px;
    height:2px;
    background: #f9700f;
    border-radius: 1px;
}
.error{
color:#d44950;
margin-top:15px;
}
.vtab-content{
    min-height:310px;
}